.Center-Logo {
position: fixed;
top: 20%;
left: 50%;
margin-top: auto;
margin-left: -200px;
position: absolute;
}

.searchbar {
overflow: hidden;
position:fixed;
top: 25%;
left: 50%;
margin-top: 90px;
margin-left: -210px;
border-radius: 20px;
}

.searchbar input {
    height:30px;
    width: 400px;
    border-radius: 20px;
    padding-left: 35px;
    z-index: 2;
}

.searchbar:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

#magglass {
    width: 20px;
    height: auto;
    position: absolute;
    right: 408px;
    top: 7px;
    z-index: 3;
}

#karaoke {
    width: 20px;
    height: auto;
    position: absolute;
    right: 12px;
    top: 7px;
    z-index: 3;
}
