.Center-Logo {
position: fixed;
top: 20%;
left: 50%;
margin-top: auto;
margin-left: -200px;
}

.searchbar {
overflow: hidden;
position:fixed;
top: 25%;
left: 50%;
margin-top: 90px;
margin-left: -210px;
border-radius: 20px
}

.searchbar input {
    height:30px;
    width: 400px;
    border-radius: 20px;

}

.searchbar:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}
